:root {
	background-color: #ffffff;
	color: #000000;
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	font-synthesis: none;
	font-weight: 400;
	line-height: 1.5;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-webkit-text-size-adjust: 100%;
}

.menuLink {
	text-decoration: none;
}

body {
	margin: 0;
	padding: 0;
	text-align: center;
}

button.checkoutItemButton {
	cursor: pointer;
}

button#customerCheckoutBtn {
	background-color: #008148;
	border-radius: 10px;
	border-style: none;
	box-shadow: 0px 3px 3px #005e13;
	cursor: pointer;
	color: #ffffff;
	font-family: inherit;
	font-size: 18pt;
	text-align: center;
	padding: 30px 50px;
	transition: all 0.3s ease-in-out;

	&:hover {
		background-color: #034732;
		box-shadow: 0px 0px 3px #005e13 inset;
		transform: translateY(-3px);
	}
}

button.cancelButton {
	background-image: linear-gradient(#ad0a25,
			rgba(212, 0, 46, 0.99) 49%,
			rgba(254, 67, 108, 0.99));
	border-radius: 10px;
	border-style: none;
	color: #ffffff;
	cursor: pointer;
	font-family: inherit;
	font-size: 18pt;
	padding: 0px 10px;
	text-align: center;
	transition: all 0.3s ease-in-out;

	&:hover {
		background-position: bottom;
		transform: translateY(-3px);
	}
}

button.backButton {
	align-items: center;
	background: 0px center;
	border: 0px;
	cursor: pointer;
	display: flex;
	font-family: inherit;
	margin: 0px;
	padding: 0px;
	text-align: left;
	-webkit-box-align: center;
}

button.menuButton {
	align-items: center;
	background: 0px center;
	border: 2px solid transparent;
	border-radius: 8px;
	cursor: pointer;
	display: flex;
	flex-direction: column;
	font-family: inherit;
	height: 315px;
	justify-content: center;
	margin: auto;
	padding: 23px;
	position: relative;
	text-align: center;
	-webkit-box-align: center;
	--webkit-box-pack: center;
	width: 270px;

	&:hover {
		background-color: #fcf9f4;
		border: 2px solid #e51636;
	}
}

button.menuButtonSug {
	align-items: center;
	background: 0px center;
	border: 2px solid transparent;
	border-radius: 8px;
	cursor: pointer;
	display: flex;
	flex-direction: column;
	font-family: inherit;
	height: 215px;
	justify-content: center;
	margin: auto;
	padding: 23px;
	position: relative;
	text-align: center;
	-webkit-box-align: center;
	--webkit-box-pack: center;
	width: 170px;

	h3 {
		margin: 0;
	}

	&:hover {
		background-color: #fcf9f4;
		border: 2px solid #e51636;
	}


}


div.customerCheckoutTop {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 10%;

	.backDiv {
		width: 6em;
	}

	.customerCheckoutTitle {
		text-align: center;
		flex-grow: 1;

		h1 {
			margin: 0;
		}
	}

	.logo-icon {
		height: 50px;
	}
}

div#customerCheckoutButtons {
	display: flex;
	justify-content: space-between;
	width: 50%;
}

div.checkoutItem {
	display: flex;
	font-size: 0.85em;
	flex-direction: column;
	margin: 1em;
}

div.checkoutItemEx {
	text-align: left;
	box-sizing: border-box;
	margin: 0px;
	padding: 0px;
}

div.checkoutItemInfo {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	box-sizing: border-box;
}

div.checkoutItemLeft {
	margin-left: 15px;
	text-align: left;
	display: flex;
	flex-direction: row;
	align-items: center;
}

div.checkoutItemRight {
	display: flex;
	flex-direction: flex-end;
	align-items: center;
	flex-direction: row;
	margin-right: 15px;
	text-align: right;
	padding: 0px;
}

div.customerCheckout {
	height: 100vh;
	width: 100vw;
	display: flex;
	flex-direction: column;
	align-items: center;
}

div.customerCheckoutItems {
	border: #000000 1px solid;
	display: flex;
	flex-direction: column;
	height: 50%;
	width: 75%;
	overflow-y: scroll;
	font-size: 1.5em;
}

div.customerCheckoutSuggs {
	display: flex;
	flex-direction: column;

	h3 {
		margin-bottom: 1em;
	}


	div.customerCheckoutSuggsItems {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		margin: 0;
		list-style: none;
	}
}

div.title {
	align-items: center;
	display: flex;
	font-family: inherit;
	font-size: 24pt;
	justify-content: center;
	text-align: center;
	-webkit-box-align: center;
	-webkit-box-pack: center;
	-moz-box-align: center;
	-moz-box-pack: center;
	width: -moz-available;
	/* WebKit-based browsers will ignore this. */
	width: -webkit-fill-available;
	/* Mozilla-based browsers will ignore this. */
	width: fill-available;
}

form.customerNameForm {
	font-family: inherit;
	font-size: 14pt;
	margin: 1em 0;
}

header {
	text-align: center;
}

img.menuIMG {
	max-height: 100%;
	max-width: 100%;
}

input#customerName {
	font-family: inherit;
	font-size: 14pt;
	margin-left: 2.5em;
}

.backDiv {
	margin: 0 8em 0 2em;

	.backButton {
		border-radius: 30px;
		background-image: linear-gradient(#ff033b 0%, #ca0f1a 100%);
		cursor: pointer;
		padding: 10px 18px 10px 12px;

		&:hover {
			background-image: linear-gradient(#ca0f1a 0%, #ff033b 100%);
			background-size: 100%;
			position: relative;
			z-index: 1;
		}
	}

	.backText {
		border: 0;
		color: #ffffff;
		font-weight: 400;
		line-height: 20px;
		margin: 0;
		margin-left: 12px;
		padding: 0;
		vertical-align: initial;
	}

}


nav.desktop-navigation {
	align-items: center;
	background-color: #ffffff;
	box-shadow: #00000033 0px 0px 4px;
	display: flex;
	height: 100px;
	position: fixed;
	top: 0px;
	-webkit-box-align: center;
	width: 100%;
	z-index: 50;

	.logo-icon {
		height: 90%;
		margin-left: 1em;
	}

	.weather {
		display: flex;
		align-items: center;

		p {
			font-size: 1.2em;
			font-weight: 500;
			white-space: nowrap;
		}
	}

	div.order {
		justify-content: flex-end;
		margin: 0 .75em 0 2em;
		-webkit-box-pack: end;
		width: 13.5%;

		.bagIcon {
			align-items: center;
			display: flex;
			margin-right: 8px;
			max-height: 40px;
			position: relative;
			-webkit-box-align: center;
		}

		.viewOrderBtn {
			align-items: center;
			background-image: linear-gradient(#ff033b 0%, #ca0f1a 100%);
			background-size: 100%;
			border: none;
			border-radius: 24px;
			box-sizing: border-box;
			color: #ffffff;
			cursor: pointer;
			display: flex;
			font-size: 14px;
			font-style: normal;
			font-weight: 600;
			height: 48px;
			justify-content: center;
			letter-spacing: -0.5625px;
			min-width: 120px;
			outline: none;
			padding: 0px 24px;
			pointer-events: auto;
			position: relative;
			text-decoration: none;
			transition: all 0.3s ease-in-out;
			-webkit-box-align: center;
			-webkit-box-pack: center;
			width: 100%;

			&:hover {
				background-image: linear-gradient(#ca0f1a 0%, #ff033b 100%);
				background-size: 100%;
				position: relative;
				z-index: 1;
			}
		}
	}
}

span.itemCount {
	align-items: center;
	background-color: #ffffff;
	border-radius: 50%;
	color: #dd0031;
	display: flex;
	font-size: 8px;
	font-weight: 700;
	height: 14px;
	justify-content: center;
	position: absolute;
	right: -5px;
	top: -8px;
	-webkit-box-align: center;
	-webkit-box-pack: center;
	width: 14px;
}

ul.menu {
	margin: 0px 10em 0px;
	align-items: center;
	display: grid;
	gap: 28px;
	grid-template-columns: repeat(3, 1fr);
	justify-items: center;
	list-style: none;
	max-width: 100%;
	padding-bottom: 28px;
	padding-inline-start: 0px;
	padding-top: 100px;
	text-align: center;
}