:root {
	background-color: #ffffff;
	color: #000000;
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	font-synthesis: none;
	font-weight: 400;
	line-height: 1.5;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-webkit-text-size-adjust: 100%;
}

a.menuLink:active {
	text-decoration: none;
}

a.menuLink:hover {
	text-decoration: none;
}

a.menuLink:link {
	text-decoration: none;
}

a.menuLink:visited {
	text-decoration: none;
}

body {
	margin: 0;
	padding: 0;
	text-align: center;
}

button.checkoutItemButton {
	cursor: pointer;
}

button#customerCheckoutBtn {
	background-color: #008000;
	border-radius: 10px;
	border-style: none;
	box-shadow: 0px 3px 3px #005e13;
	cursor: pointer;
	color: #ffffff;
	font-family: inherit;
	font-size: 18pt;
	text-align: center;
	padding: 30px 50px;
}

button#customerCheckoutBtn:hover {
	background-color: #006100;
	box-shadow: 0px 0px 3px #005e13 inset;
}

button.cancelButton {
	border-radius: 10px;
	border-style: none;
	cursor: pointer;
	font-family: inherit;
	font-size: 18pt;
	text-align: center;
	padding: 0px 10px;
}

button.backButton {
	align-items: center;
	background: 0px center;
	border: 0px;
	cursor: pointer;
	display: flex;
	font-family: inherit;
	margin: 0px;
	padding: 0px;
	text-align: left;
	-webkit-box-align: center;
}

button.menuButton {
	align-items: center;
	background: 0px center;
	border: 2px solid transparent;
	border-radius: 8px;
	cursor: pointer;
	display: flex;
	flex-direction: column;
	font-family: inherit;
	height: 315px;
	justify-content: center;
	margin: auto;
	padding: 23px;
	position: relative;
	text-align: center;
	-webkit-box-align: center;
	--webkit-box-pack: center;
	width: 270px;
}

button.menuButton:hover {
	border: 2px solid;
}

button.viewOrderBtn {
	align-items: center;
	background-image: linear-gradient(#ff033b 0%, #ca0f1a 100%);
	background-size: 100%;
	border: none;
	border-radius: 24px;
	box-sizing: border-box;
	color: #ffffff;
	cursor: pointer;
	display: flex;
	font-size: 14px;
	font-style: normal;
	font-weight: 600;
	height: 48px;
	justify-content: center;
	letter-spacing: -0.5625px;
	min-width: 120px;
	outline: none;
	padding: 0px 24px;
	pointer-events: auto;
	position: relative;
	text-decoration: none;
	transition: all 250ms ease-out 0s;
	-webkit-box-align: center;
	-webkit-box-pack: center;
	width: 100%;
}

button.viewOrderBtn:hover {
	background-image: linear-gradient(#ca0f1a 0%, #ff033b 100%);
	background-size: 100%;
	position: relative;
	z-index: 1;
}

div#customerCheckoutButtons {
	display: flex;
	justify-content: space-between;
	width: 50%;
}

div.backDiv {
	align-items: center;
	display: flex;
	margin-left: 0.5%;
	text-align: left;
	-webkit-box-align: center;
	width: 13.5%;
	margin-top: 0.5%;
}

div.backText {
	border: 0;
	color: #485259;
	font: inherit;
	font-size: 100%;
	font-size: 12px;
	font-weight: 400;
	letter-spacing: -0.5px;
	line-height: 20px;
	margin: 0;
	margin-left: 12px;
	padding: 0;
	vertical-align: initial;
}

div.bagIcon {
	align-items: center;
	display: flex;
	margin-right: 8px;
	max-height: 40px;
	position: relative;
	-webkit-box-align: center;
}

div.order {
	justify-content: flex-end;
	margin-right: 0.5%;
	-webkit-box-pack: end;
	width: 13.5%;
}

div.title {
	align-items: center;
	display: flex;
	font-family: inherit;
	font-size: 24pt;
	justify-content: center;
	text-align: center;
	-webkit-box-align: center;
	-webkit-box-pack: center;
	width: 73%;
}

header {
	text-align: center;
}

img.menuIMG {
	max-height: 100%;
	max-width: 100%;
}

nav.desktop-navigation {
	align-items: center;
	background-color: white;
	box-shadow: #00000033 0px 0px 4px;
	display: flex;
	height: 64px;
	position: fixed;
	top: 0px;
	-webkit-box-align: center;
	width: 100%;
	z-index: 50;
}

span.itemCount {
	align-items: center;
	background-color: #ffffff;
	border-radius: 50%;
	color: #dd0031;
	display: flex;
	font-size: 8px;
	font-weight: 700;
	height: 14px;
	justify-content: center;
	position: absolute;
	right: -5px;
	top: -8px;
	-webkit-box-align: center;
	-webkit-box-pack: center;
	width: 14px;
}

ul.menu {
	align-items: center;
	display: grid;
	gap: 28px;
	grid-template-columns: repeat(3, 1fr);
	height: 100%;
	justify-items: center;
	list-style: none;
	max-width: 100%;
	padding-bottom: 28px;
	padding-inline-start: 0px;
	padding-top: 64px;
	text-align: center;
	width: 100%;
}

div.customerCheckout {
	height: 100vh;
	width: 100vw;
	display: flex;
	flex-direction: column;
	align-items: center;
}


div.customerCheckoutItems {
	border: #000000 1px solid;
	display: flex;
	flex-direction: column;
	height: 75%;
	min-width: 60%;
	overflow-y: scroll;
	font-size: 1.5em;
}

div.checkoutItem {
	display: flex;
	font-size: .85em;
	flex-direction: column;
	margin: 1em;
}

div.checkoutItemInfo {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	box-sizing: border-box;
}

div.checkoutItemRight {
	display: flex;
	flex-direction: flex-end;
	align-items: center;
	flex-direction: row;
	margin-right: 15px;
	text-align: right;
	padding: 0px;
}

div.checkoutItemLeft {
	margin-left: 15px;
	text-align: left;
	display: flex;
	flex-direction: row;
	align-items: center;
}

div.checkoutItemEx {
	text-align: left;
	box-sizing: border-box;
	margin: 0px;
	padding: 0px;
}


form.customerNameForm {
	margin: 1em 0;
}

input#customerName {
	margin-left: 2.5em;
}