:root {
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;

	color: #000000;
	background-color: #ffffff;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
}

a.menuLink:active {
	text-decoration: none;
}

a.menuLink:link {
	text-decoration: none;
}

a.menuLink:hover {
	text-decoration: none;
}

a.menuLink:visited {
	text-decoration: none;
}

a.order-link {
	display: block;
	font-size: 48px;
	font-family: sans-serif;
	font-weight: 500;
	text-decoration: none;
	color: #ffffff;
	background-image: linear-gradient(-180deg, #fe436c, #dd0031 49%, #c20726);
	border: 1px solid #333333;
	border-radius: 20px;
	padding: 20px;
	letter-spacing: 4px;
	transition: all 0.3s ease-in-out;
}

a.order-link:hover {
	letter-spacing: 15px;
}

body {
	margin: 0;
	padding: 0;
	text-align: center;
	margin-top: 5em;
}

button.backButton {
	align-items: center;
	background: 0px center;
	border: 0px;
	cursor: pointer;
	display: flex;
	font-family: inherit;
	margin: 0px;
	padding: 0px;
	text-align: left;
	-webkit-box-align: center;
}

button#customerCheckoutBtn {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 50%;
	width: 20%;
	background-color: #008000;
	color: white;
	border-radius: 10px;
	border-style: none;
	box-shadow: 0px 3px 3px #005e13;

}

button#customerCheckoutBtn:hover {
	background-color: #006100;
	box-shadow: 0px 0px 3px #005e13 inset;
}

button.menuButton {
	-webkit-box-align: center;
	-webkit-box-pack: center;
	align-items: center;
	background: 0px center;
	border: 2px solid transparent;
	border-radius: 8px;
	cursor: pointer;
	display: flex;
	flex-direction: column;
	font-family: inherit;
	height: 279px;
	justify-content: center;
	margin: auto;
	padding: 23px;
	position: relative;
	text-align: center;
	width: 270px;
}

button.menuButton:hover {
	border: 2px solid;
}

button.viewOrderBtn {
	-webkit-box-align: center;
	-webkit-box-pack: center;
	align-items: center;
	background-image: linear-gradient(#ff033b 0%, #ca0f1a 100%);
	background-size: 100%;
	border-radius: 24px;
	border: none;
	box-sizing: border-box;
	color: #ffffff;
	cursor: pointer;
	display: flex;
	font-size: 14px;
	font-style: normal;
	font-weight: 600;
	height: 48px;
	justify-content: center;
	letter-spacing: -0.5625px;
	min-width: 120px;
	outline: none;
	padding: 0px 24px;
	pointer-events: auto;
	position: relative;
	text-decoration: none;
	transition: all 250ms ease-out 0s;
	width: 100%;
}

button.viewOrderBtn:hover {
	background-size: 100%;
	background-image: linear-gradient(#ca0f1a 0%, #ff033b 100%);
	position: relative;
	z-index: 1;
}

div.backDiv {
	width: 13.5%;
	text-align: left;
	display: flex;
	-webkit-box-align: center;
	align-items: center;
}

div.backText {
	margin-left: 12px;
	font-weight: 400;
	font-size: 12px;
	line-height: 20px;
	letter-spacing: -0.5px;
	color: #485259;
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: initial;
}

div.bagIcon {
	display: flex;
	-webkit-box-align: center;
	align-items: center;
	margin-right: 8px;
	max-height: 40px;
	position: relative;
}

div#customerCheckout {
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: start;
	justify-content: center;
	height: 20vh;
}

div.login-wrapper {
	margin: 3em;
	font-family: inherit;
	display: flex;
	flex-direction: column;

	justify-content: center;
	align-items: center;
}

div.title {
	align-items: center;
	display: flex;
	font-family: inherit;
	font-size: 24pt;
	justify-content: center;
	text-align: center;
	-webkit-box-align: center;
	-webkit-box-pack: center;
	width: 73%;
}

div.order {
	-webkit-box-pack: end;
	justify-content: flex-end;
	width: 13.5%;
}

div.order-wrapper {
	display: inline-block;
	margin-top: 3em;
}

input[type="password"],
input[type="submit"] {
	height: 3em;
	margin: 0;
	padding: 0 1.2em;
	box-sizing: content-box;
	border: 1px solid black;
	font-family: inherit;
	font-size: 1rem;
	font-weight: 500;
}

input[type="password"] {
	border-radius: 100px 0px 0px 100px;
	border-right: none;
}

input[type="submit"] {
	background-color: #dd0031;
	color: white;
	border-radius: 0px 100px 100px 0px;
	border-left: none;
	cursor: pointer;
	transition: all 0.5s ease-in-out;
}

input[type="submit"]:hover {
	background-color: #9e1c38;
}

header {
	text-align: center;
}

img.menuIMG {
	max-height: 100%;
	max-width: 100%;
}

label.passLabel {
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	font-size: 24pt;
}

span.itemCount {
	align-items: center;
	color: #dd0031;
	background-color: #ffffff;
	width: 14px;
	height: 14px;
	top: -8px;
	right: -5px;
	font-size: 8px;
	font-weight: 700;
	display: flex;
	-webkit-box-align: center;
	-webkit-box-pack: center;
	justify-content: center;

	border-radius: 50%;
	position: absolute;
}

nav.desktop-navigation {
	display: flex;
	height: 64px;
	-webkit-box-align: center;
	align-items: center;
	box-shadow: #00000033 0px 0px 4px;
	position: fixed;
	width: 100%;
	background-color: white;
	z-index: 50;
	top: 0px;
}

ul.menu {
	height: 100%;
	width: 100%;
	max-width: 100%;
	justify-items: center;
	align-items: center;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	padding-inline-start: 0px;
	padding-top: 64px;
	padding-bottom: 28px;
	gap: 28px;
	list-style: none;
	text-align: center;
}