body {
	margin: 0;
	margin-top: 0em;
	padding: 0;
	text-align: center;
}

h2 {
	font-size: 1.5em;
	text-align: center;
	text-decoration: underline;
	text-emphasis: bold;
}

table th,
table td {
	border: none;
	text-align: center;
}

input.PopUpNotes {
	font-family: inherit;
	font-size: 14pt;
}

input.PopUpRowRight {
	display: none;

	&:checked+span.checkmark::before {
		content: "\2714";
		display: block;
		color: #008148;
		text-align: center;
		font-size: 16px;
		line-height: 20px;
		border: 1px solid #000000;
	}

	&:not(:checked)+span.checkmark::after {
		content: "\2716";
		display: block;
		color: #e51636;
		text-align: center;
		font-size: 16px;
		line-height: 20px;
		border: 1px solid #000000;
	}
}

label.checkmark-container {
	align-items: center;
	display: flex;
	justify-content: center;
	width: 50%;

	span.checkmark {
		background-color: #ffffff;
		border-radius: 5px;
		cursor: pointer;
		display: inline-block;
		height: 20px;
		transition: all 0.2s ease-out;
		width: 20px;
	}
}

label.PopUpRowLeft {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	width: 50%;
}

nav.empNav {
	align-items: center;
	background-color: #ffffff;
	display: flex;
	flex-direction: column;
	gap: 1em;
	// height: 100vh;
	padding-bottom: 10px;
	justify-content: start;
	position: relative;
	width: 17em;
	box-shadow: 0px 0px 10px 1px gray;

	img.empNavLogo {
		width: 25%;
		margin: 0em 1em;
	}

	div#google-signin {
		margin: 1em 0;
	}

	button.empNavButton {
		background-color: #ffffff;
		border-color: #808080;
		border-radius: 10px;
		border-style: solid;
		border-width: 0px;
		box-shadow: 0px 3px 3px #808080;
		color: black;
		font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
		font-size: 1.2em;
		font-weight: bold;
		min-height: 4em;
		min-width: 80%;
		text-align: center;
		text-decoration: none;
		transition: all 0.3s ease;
		cursor: pointer;
		&:hover {
			box-shadow: 0px 0px 3px #808080;

		}

		&.current {
			background-color: #dd0031;
			color: white;
		}
	}
}

div.orderItemPane {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	max-height: 100vh;
	overflow-y: scroll;
	padding: 5em 3em;
	width: calc(100vw - 34em);
	align-items: center;
	gap: 1em;

	button.orderItemBtn {
		background-color: white;
		border-radius: 10px;
		border: 1px solid black;
		padding: 1em;
		text-align: center;
		text-decoration: none;
		transition: all 0.3s ease;

		&:hover {
			background-color: #d9d9d9;
		}
	}
}

div#checkoutPanel {
	box-sizing: border-box;
	height: 100vh;
	width: 17em;
	padding: 4em 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #f4f8f9;

	div#checkoutOrderItems {
		display: flex;
		flex-direction: column;
		min-width: 100%;
		overflow-y: scroll;
		flex-grow: 1;
	}

	div#checkoutButtonDiv {
		text-align: center;

		p {
			font-size: 1.2em;
			font-weight: bold;
			margin: 1em;
		}

		input {
			border-radius: 10px;
			padding: 0.5em;
			font-size: 1.2em;
			display: block;
			box-sizing: border-box;
			margin: 1em auto;
			max-width: 80%;
		}

		button#checkoutBtn {
			color: #ffffff;
			background-color: #009e00;
			border-color: #808080;
			border-radius: 10px;
			border-style: solid;
			border-width: 0px;
			box-shadow: 0px 3px 3px #808080;
			font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
			font-size: 1.2em;
			font-weight: bold;
			min-height: 4em;
			min-width: 80%;
			text-align: center;
			text-decoration: none;
			transition: all 0.3s ease;

			&:hover {
				box-shadow: 0px 0px 3px #808080;
			}
		}
	}
}

table.databaseTable {
	border-collapse: collapse;
	margin: 0 0.75em 0 0.75em;
	width: 98%;
}

div.empInventoryPage {
	display: flex;
	flex-direction: row;
	min-height: 100vh;
	min-width: 100%;
}

div.empMenuPage {
	display: flex;
	flex-direction: row;
	min-height: 100vh;
	min-width: 100%;
}

div.empOrderPage {
	display: flex;
	flex-direction: row;
	min-height: 100vh;
	width: 100vw;
}

div.excessRepTable {
	max-height: 100vh;
	overflow-y: scroll;
	width: 100%;
}

div.PopUp {
	align-items: center;
	background-color: #ffffff;
	border: 1px solid #011627;
	border-radius: 1em;
	box-shadow: -2px 5px 5px 0px #000000bf;
	color: #011627;
	display: flex;
	flex-direction: column;
	height: 50%;
	justify-content: space-between;
	left: 50%;
	position: fixed;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 50%;
	z-index: 9999;
}

div.PopUp.active {
	pointer-events: all;
}

div.PopUpTitle {
	font-family: inherit;
	font-size: 18pt;
}

div.PopUpRow {
	display: flex;
	flex-direction: row;
	font-family: inherit;
	font-size: 14pt;
	justify-content: flex-start;
}

div.PopUpRows {
	width: 60%;
}

div.PopUpButtons {
	display: flex;
	flex-direction: row;
	font-family: inherit;
	font-size: 14pt;
	justify-content: space-between;
	width: 80%;
	margin-bottom: 3em;
}

div.PopUpQuantity {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;

	div.PopUpQuantityNumber {
		margin: 0em 0.25em;
	}
}

div.repBody {
	display: flex;
	flex-direction: row;
	width: 100%;
}

div.repDiv {
	display: flex;
	flex-direction: row;
	max-height: 100vh;
	width: 85%;
}

div.repHead {
	margin-top: 10px;
	width: 15%;
}

div.repXZInfo {
	margin-left: 1em;
	width: 25%;
}

div.repXZInfoBody {
	margin: 0;
	padding: 0;
	text-align: left;
}

div.repZTable {
	max-height: 100vh;
	overflow-y: scroll;
	width: 75%;
}

div.restockRepTable {
	margin-top: 1em;
	max-height: 100vh;
	overflow-y: scroll;
	width: 100%;
}

div.salesInvItemTable {
	max-height: 100vh;
	overflow-y: scroll;
	width: 50%;
}

div.salesMenuItemTable {
	max-height: 100vh;
	overflow-y: scroll;
	width: 50%;
}

div.salesTogetherRepTable {
	max-height: 100vh;
	overflow-y: scroll;
	width: 100%;
}

button.backButton {
	align-items: center;
	background: 0px center;
	border: 0px;
	cursor: pointer;
	display: flex;
	font-family: inherit;
	margin: 0px;
	padding: 0px;
	text-align: left;
	-webkit-box-align: center;
}

button.checkoutItemButton {
	margin-left: 5px;
	/* height: 30%; */
}

button.goButton {
	margin: 20px;
	padding: 4px;
}

button.PopUpButton {
	border-radius: 10px;
	border: 1px solid #011627;
	color: #ffffff;
	cursor: pointer;
	font-family: inherit;
	font-size: 14pt;
	padding: 10px;

	&.addToCart {
		background-image: linear-gradient(#008148 0%, #005e13 100%);
	}

	&.close {
		background-image: linear-gradient(#ff033b 0%, #ca0f1a 100%);
	}
}

button.reportBtn {
	background-color: #d9d9d9;
	border-color: #808080;
	border-radius: 50px;
	border-style: solid;
	border-width: 0px;
	box-shadow: 0px 3px 3px #808080;
	color: #000000;
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	font-size: 1em;
	font-weight: bold;
	margin: 1em;
	max-height: 20%;
	max-width: 33%;
	text-align: center;
	text-decoration: none;
	width: 33%;
	cursor: pointer;
}

button.reportBtn:hover {
	box-shadow: 0px 3px 3px inset #808080;
}

div#inventoryFormsDiv {
	height: 100vh;
	overflow-y: scroll;
	text-align: center;
	width: 25%;
}

div#inventoryTableDiv {
	height: 100vh;
	overflow-y: scroll;
	width: 60%;
}

div#menuFormsDiv {
	height: 100vh;
	overflow-y: scroll;
	text-align: center;
	width: 25%;
}

div#menuTableDiv {
	height: 100vh;
	overflow-y: scroll;
	width: 60%;
}

div#orderHistoryInfoDiv {
	height: 100vh;
	overflow-y: scroll;
	text-align: center;
	width: 25%;
}

div#orderHistoryTableDiv {
	height: 100vh;
	overflow-y: scroll;
	text-align: center;
	width: 60%;
}

div#reportsSelection {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	min-height: 50%;
	min-width: 80%;
}