/* Nav Bar */
body {
    margin: 0;
    padding: 0;
    text-align: center;
    margin-top: 0em;
}

nav.empNav {
    position: relative;
    width: 15%;
    height: 100vh;
    background-color: #F4F8F9;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

a.empNavButton {
    margin-top: 1em;
    font-size: 1em;
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    text-align: center;
    text-decoration: none;
    min-width: 80%;
    min-height: 10%;
    color: black;
    background-color: white;
    border-style: solid;
    border-width: 0px;
    border-radius: 10px;
    border-color: grey;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 0px 3px 3px grey;
}

button.empNavLogout {
    margin-top: 1em;
    font-size: 1em;
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    text-align: center;
    text-decoration: none;
    min-width: 80%;
    min-height: 10%;
    color: black;
    background-color: white;
    border-style: solid;
    border-width: 0px;
    border-radius: 10px;
    border-color: grey;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 3px 3px grey;
}

button.empNavLogout:hover {
    box-shadow: 0px 0px 3px grey;
}

a.empNavButton:hover {
    box-shadow: 0px 0px 3px grey;
}

a.empNavButton.current {
    color: white;
    background-color: #DD0031;
}

/* Order Buttons */
button.orderItemBtn {
    background-color: #D9D9D9;
    color: black;
    text-align: center;
    text-decoration: none;
    border-radius: 10px;
    border-style: solid;
    border-width: 1px;
    padding: 1em;
    height: 50px;
    margin-right: 1em;
    margin-bottom: 1em;
}

button.orderItemBtn:hover {
    background-color: #9c9c9c;
}

div.orderItemPane {
    overflow-y: scroll;
    padding: 1%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 65%;
    max-height: 100vh;
}

/* Order Checkout */
div#checkoutPanel {
    position: relative;
    width: 20%;
    height: 100vh;
    background-color: #F4F8F9;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

button#checkoutBtn {
    margin-top: 5%;
    margin-bottom: 5%;
    text-align: center;
    text-decoration: none;
    min-width: 90%;
    min-height: 90%;
    color: white;
    background-color: green;
    border-style: solid;
    border-width: 0px;
    border-radius: 10px;
    border-color: grey;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 3px 3px rgb(0, 94, 19);
}

button#checkoutBtn:hover {
    background-color: rgb(0, 97, 0);
    box-shadow: 0px 0px 3px rgb(0, 94, 19) inset;
}

div#checkoutButtonDiv {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    min-height: 20%;
    min-width: 100%;
}

div#checkoutOrderItems {
    display: flex;
    flex-direction: column;
    height: 70%;
    overflow-y: scroll;
    min-width: 100%;
    border-bottom: black 1px solid;
}

div.checkoutItem{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

p.checkoutItemLeft {
    margin-left: 15px;
    font-size: .75em;
    text-align: left;
}
.checkoutItemRight {
    display: flex;
    flex-direction: row;
    margin-right: 15px;
    font-size: .75em;
    text-align: right;
    flex-direction: flex-end;
}
button.checkoutItemButton{
    margin-left: 5px;
}
/* Tables */
table.databaseTable {
    width: 98%;
    margin: 0 .75em 0 .75em;
    border-collapse: collapse;
}

table th,
table td {
    border: none;

    text-align: center;
}

h2 {
    text-align: center;
    text-decoration: underline;
    text-emphasis: bold;
    font-size: 1.5em;
}


/* Order History */
div.empOrderPage {
    display: flex;
    width: 100vw;
    min-height: 100vh;
    flex-direction: row;
}

div#orderHistoryTableDiv {
    width: 60%;
    height: 100vh;
    overflow-y: scroll;
    text-align: center;
}

div#orderHistoryInfoDiv {
    width: 25%;
    height: 100vh;
    overflow-y: scroll;
    text-align: center;
}

/* Inventory */
div.empInventoryPage {
    display: flex;
    min-width: 100%;
    min-height: 100vh;
    flex-direction: row;
}

div#inventoryTableDiv {
    width: 60%;
    height: 100vh;
    overflow-y: scroll;
}

div#inventoryFormsDiv {
    width: 25%;
    height: 100vh;
    overflow-y: scroll;
    text-align: center;
}

/* Edit Menu Page */
div.empMenuPage {
    display: flex;
    min-width: 100%;
    min-height: 100vh;
    flex-direction: row;
}

div#menuTableDiv {
    width: 60%;
    height: 100vh;
    overflow-y: scroll;
}

div#menuFormsDiv {
    width: 25%;
    height: 100vh;
    overflow-y: scroll;
    text-align: center;
}
div#reportsSelection{
    min-width: 80%;
    min-height: 50%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

/* Report Page */
a.reportBtn{
    margin: 1em;
    font-size: 1em;
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    text-align: center;
    text-decoration: none;
    width: 33%;
    max-width: 33%;
    max-height: 20%;
    color: black;
    background-color: #D9D9D9;
    border-style: solid;
    border-width: 0px;
    border-radius: 100px;
    border-color: grey;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 0px 3px 3px grey;
}
a.reportBtn:hover{
    box-shadow: 0px 3px 3px  inset grey;
}

/* Reports */

div.repDiv{
    display: flex;
    flex-direction: row;
    width: 85%;
    max-height: 100vh;
}
div.repBody{
    display: flex;
    flex-direction: row;
    width: 100%;
}
div.repHead{
    width: 15%;
}

div.salesMenuItemTable{
    max-height: 100vh;
    overflow-y: scroll;
    width: 50%;
}
div.salesInvItemTable{
    max-height: 100vh;
    overflow-y: scroll;
    width: 50%;
}


div.excessRepTable{
    overflow-y: scroll;
    width: 100%;
    max-height: 100vh;
}


div.salesTogetherRepTable{
    overflow-y: scroll;
    width: 100%;
    max-height: 100vh;
}

div.restockRepTable{
    overflow-y: scroll;
    width: 100%;
    max-height: 100vh;
    margin-top: 1em;
}

div.repZTable{
    overflow-y: scroll;
    width: 80%;
    max-height: 100vh;
}

div.repXZInfo{
    width: 20%;
    margin-left: 1em;
}

.goButton{
    padding: 4px;
    margin: 20px;
}


div.repXZInfoBody{
    margin: 0;
    padding: 0;
    text-align: left;
}
