:root {
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;

	color: #000000;
	background-color: #FFFFFF;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
}

body {
	margin: 0;
	padding: 0;
}

button.menuButton {
	display: flex;
	flex-direction: column;
	-webkit-box-align: center;
	align-items: center;
	-webkit-box-pack: center;
	justify-content: center;
	width: 270px;
	height: 279px;
	padding: 23px;
	position: relative;
	margin: auto;
	border-radius: 8px;
	border: 2px solid transparent;
	background: 0px center;
	text-align: left;
	font-family: inherit;
	cursor: pointer;
}

button.menuButton:hover {
	border: 2px solid;
}

header {
	text-align: center;
}

img.menuIMG {
	max-height: 100%;
	max-width: 100%;
}

ul.menu {
	height: 100%;
	width: 100%;
	max-width: 1660px;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	padding-bottom: 28px;
	gap: 28px;
	list-style: none;
	text-align: center;
}