.logo{
    text-align: center;
    max-width: 300px;
    max-height: 300px;
}

.orderButton {
    background-color: rgb(221,0,49);
    padding: 2em;
    color:white;
}

.employeeButton{
    background-color: rgb(221,0,49);
    padding: 1cm;
    color: white;
}